out
.idea
*.iml
.gwt
.settings
.classpath
.project
.tern-project
target
/tomcat
test-output
/wildfly
dependency-analysation
overlays
mmecp.sublime-project
mmecp.sublime-workspace
THIRD-PARTY.properties
.project
